body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}

.sardine-main {
    /* shift over for the side bar */
    margin-left: 250px;
}

.sardine-header-margin {
    margin-top: 83px;
}

.sardine-header {
    z-index: 10;
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
}

.sardine-h1 {
    font-size: 2.5em;
    margin-top: 0px;
    margin-bottom: 0px;
    z-index: 5000;
}

.sardine-h3 {
    font-size: 1.5em;
    margin-top: 0px;
    margin-bottom: 0px;
}

.sardine-sidebar {
    width: 250px;
    z-index: 3000;
}

.sardine-sidebar-overlay {
    cursor: pointer;
    z-index: 2999;
}

.sardine-bar-item {
    font-size: .70em;
}

.sardine-padding-0 {
    padding-left:0px!important;
    padding-top:0px!important;
    padding-bottom:0px!important;
    padding-right:0px!important;
}

.map-container {
    top: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -10;
}

.leaflet-container {
    height: 100%;
    width: 100%;
}

.city-birmingham-subtext {
    font-style: italize;
    font-size: .75em;
    text-align: justify;
    margin: 0px;
}

.city-subtext {
    font-style: italize;
    font-size: .75em;
    text-align: justify;
    margin: 15px;
}

.sardine-select {
    -webkit-appearance: button;
    -webkit-border-radius: 20px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    -moz-border-radius: 20px;
    appearance: none;
    
    background-image: url(/15xvbd5.png), -webkit-linear-gradient(#757575, #757575 40%, #757575);
    background-color: #757575;   
    background-position: 97% center;
    background-repeat: no-repeat;
    
    border: 1px solid #AAA;
    border-radius: 20px;
    color: #fff;
    font-size: inherit;
    margin-top: 25px;

    overflow: hidden;
    padding: 5px 10px;
    padding-left: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sardine-select:focus {
    outline: none;
}
